* {
  background: #f0f0f0;
}
#blueprints, #header1, #header2, #header3, #points, #name{
    font-family: 'Verdana';
    background-color: transparent;
}

.card {
 width: 500px;
 height: 400px;
 border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
 text-align: center;
 position: relative;
 align-items: center;
 justify-content: center;
 flex-direction: column;

}

.big{
    display: flex;
    align-items: center;
    justify-content: center;
}

#myCanvas {

    height: 100px;
    width: 100px;
    border: 1px solid blue;
}
